.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.play-again{
  outline: none;
  border: none;
  font-size: 1.21em;
  padding: 0.4em 0.86em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.6em;
  border-radius: 0.3em;
  background: violet;
  color: rgb(152, 38, 152);
  transition: background 350ms ease-in;
}
.play-again:hover{
  background: rgb(250, 180, 250);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
